spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/JiangJibo/SpringCloudConfig/
          searchPaths: respo
          username:
          password:
        prefix: config
      label: master

  application:
    name: config-server

server:
  port: 8888

logging:
  level: DEBUG

# 设置Refresh容器时不需要安全校验
management:
  security:
    enabled: false


#Client的http请求地址和资源文件映射如下,
# application.name：代表子应用的名称
# profile：子应用的配置环境
# label: git上的项目分支

#/{application.name}/{profile}[/{label}]

#/{application.name}-{profile}.yml

#/{label}/{application.name}-{profile}.yml

#/{application.name}-{profile}.properties

#/{label}/{application.name}-{profile}.properties